<header>

  <div class="wrap">
    <div class="site-header">
      <a href="/">
        <img class="site-logo" src="{{ site.url }}/assets/img/logo.jpg" alt="">
      </a>
      <h1 class="site-headline">Hi, I'm <span>Evgeny Traytyak</span>, a <i>front-end developer</i> from Minsk, Belarus.</h1>
      <ul class="site-nav">
        <li><a href="mailto:evgen.traytyak@gmail.com" class="btn">Mail</a></li>
        <li><a href="" class="btn">Blog</a></li>
        <li><a href="" class="btn">About me</a></li>
      </ul>
      <p>Available for freelance projects</p>    
    </div>
  </div>

</header>
